/backend/data/
/data/
.idea/
backend/.idea/
backend/target/
frontend/dist/
frontend/node_modules/
frontend/*.tsbuildinfo
frontend/vite.config.d.ts
frontend/vite.config.js
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
.env
.DS_Store
